
# Django Settings
DEBUG=True
SECRET_KEY="openssl rand -base64 32"
TESTING_MODE=False

# CORS Settings
ALLOWED_HOSTS=localhost
CSRF_TRUSTED_ORIGINS=http://localhost

# Database Settings
DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=dbname
DATABASE_USERNAME=dbuser
DATABASE_PASSWORD=dbpassword
DATABASE_HOST=localhost
DATABASE_PORT=5432
